.cards {
  margin: 0 auto;
  padding: 0;
  max-width: 920px;
  display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
  flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
  list-style: none;
}
