.video__iframes {
  width: 1050px;
  margin: 0 auto;
  padding: 0;

  display: flex;
    display: -ms-flexbox;
  justify-content: space-between;
    -ms-flex-pack: justify;
  flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  list-style: none;
}
