.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  transition: ease-in-out .335s;
}

.feinman__link::after {
  content: ' →';
}

.feinman__link:hover{
  opacity: .5;
}

