.header__link {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  transition: ease-in-out .335s;
    -webkit-transition: ease-in-out .335s;
    -o-transition: ease-in-out .335s;
}

.header__link::after {
  content: ' →';
}

.header__link:hover {
  opacity: .5;
}

