* { outline: 1px solid red; }

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header {
  margin: 0 0 100px 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
}

.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
  color: #000000;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  width: 389px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: ' →';
}

.header__link:hover {
  color: #000000;
}

.header__link:active {
  color: #000000;
}

.header__link:visited {
  color: #000000;
  text-decoration: underline;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
}

.description {
  margin: 0 0 100px 0;
}

.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: #000000;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #000000;
}

.two-columns__paragraph:nth-child(2n) {
  margin: 30px 0;
}

.digits {
  margin: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0 auto 20px auto;
  width: 60%;
  font-size: 60px;
  line-height: 69px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.section-title_theme_dark {
  font-size: 60px;
  line-height: 69px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.section-subtitle {
  margin: 0 auto 60px auto;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.section-subtitle_theme_dark {
  margin: 0 auto 80px auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.table {
  margin: 0 auto;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  z-index: 2;
}

.table__cell {
  width: 250px;
}

.table__cell:nth-child(n+5):not(.table__cell_theme_dark) {
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15em;
  font-weight: 700;
  color: #000000;
}

.table__text {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000000;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
}

.table__cell_theme_dark:nth-child(n+6) {
  margin: 80px 0 0 0;
}

.table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15em;
  font-weight: 700;
  color: #ffffff;
}

.table__text_theme_dark {
  font-size: 18px;
  line-height: 1.12em;
  font-weight: 400;
  color: #ffffff;
}

.feinman {
  padding: 100px 0 395px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-size: 867px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  position: relative;
}

.feinman__title {
  margin: 0 0 70px 0;
  width: 648px;
  font-size: 120px;
  line-height: 1.15em;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.feinman__subtitle {
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #000000;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.feinman__link::after {
  content: ' →';
}

.feinman__link:hover{
  color: #2f80ed;
}

.feinman__link:active {
  color: #2f80ed;
}

.feinman__link:visited {
  text-decoration: underline;
}

.kaufman {
  padding: 90px 0 90px 0;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}
