.khan__buy-link {
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  transition: ease-in-out .335s;
  -webkit-transition: ease-in-out .335s;
  -o-transition: ease-in-out .335s;
}

.khan__buy-link::after {
  content: ' →';
}

.khan__buy-link:hover {
  opacity: .5;
}
